@page "/user/{Id:guid}"
@inject UserFacade UserFacade

@namespace Forms.Web.App.Pages
@using Forms.Common.Models.User
@using Forms.Web.BL.Facades
@inherits PageBase


<h1>Detail uživatele</h1>

@if (User is null)
{
<p>Načítám data...</p>
}
else
{
<div class="card text-center">
    <img src="@User.PhotoUrl" class="card-img-top mx-auto" alt="Uživatelský obrázek" style="width: 16rem;">
    <div class="card-body">
        <h5 class="card-title">@User.FirstName @User.LastName</h5>
        <p>Email: @User.Email</p>
        <!--todo * ZDE FormsList s formulare od uzivatele *-->
    </div>
</div>
}

@if (User?.Forms.Count == 0)
{
<p>Žádné formuláře na zobrazení.</p>
}
else
{
<div class="row">
    @foreach (var form in User!.Forms)
    {
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="icons/document.png" class="card-img-top w-50 h-50" alt="Formulář">
            <div class="card-body">
                <h4 class="card-title">@form.Name</h4>
                @if (DateTime.Now >= @form.DateOpen && DateTime.Now <= @form.DateClose)
                {
                <a href="/form/@form.Id" class="btn btn-primary">Zobrazit detail</a>
                <a href="/questions/@form.Id" class="btn btn-secondary">Zobrazit odpovědi</a>
                }
                else
                {
                <img src="icons/lock.png" class="h-auto" style="width: 37px;" alt="Zamknuto">
                }
                <a href="/form/edit/@form.Id" class="btn btn-primary">Editovať</a>
            </div>
        </div>
    </div>
    }
</div>
}

@code {
[Parameter]
public Guid Id { get; set; }

private UserDetailModel? User { get; set; }

protected override async Task OnInitializedAsync()
{
    Console.WriteLine($"Fetching user with ID: {Id}");
    try
    {
        User = await UserFacade.GetByIdAsync(Id);
        Console.WriteLine($"User fetched: {User?.FirstName} {User?.LastName}");
    }
    catch (Exception ex)
    {
        Console.WriteLine($"Error fetching user: {ex.Message}");
    }
}
}